*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.container{
    position: relative;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index:-1;
}

.background{
    transform: translateZ(-40px) scale(5);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}


.background, .foreground{
    position:absolute;
    height:100%;
    width:100%;
    object-fit: cover;
    z-index:-1;

}


h1{
    position:absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);
}



section{
    background-color: rgb(45,45,45);
    color:white;
    padding: 5rem 0;
}

.heading{
    font-size:5rem;
    padding:0 10rem;

}

.secheading{
    font-size:5rem;
    padding:0 10rem;

}

.text{
    font-size: 1.5rem;
    padding:0 10rem;
    margin: 5rem 0;

}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.desc{
    position: absolute;
    background-color: black;
    padding: 0.5rem 2.5rem;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    color: white;
    font-size: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
}


.bg4{
    background-image: url(https://plus.unsplash.com/premium_photo-1677002240252-af3f88114efc?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aGlraW5nfGVufDB8fDB8fHww);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }



.bg1{

    background-image: url(https://github.com/shreyam-s/Parallax-Website/blob/main/sport-1.jpg?raw=true);


}

.bg2{
    background-image: url(https://github.com/shreyam-s/Parallax-Website/blob/main/sport-2.jpg?raw=true);
}

.bg3{
    background-image: url(https://github.com/shreyam-s/Parallax-Website/blob/main/sport-3.jpg?raw=true);
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    
}



 